* {
  font-family: "Montserrat", sans-serif;
}

body {
  color: ivory;
  background-color: #383838;
}

.err {
  color: rgb(194, 47, 47);
}

#navBar {
  margin-top: 1.5%;
  letter-spacing: 5px;
  width: 100%;
  display: flex;
  background-color: #383838;
}

#appName {
  flex-grow: 1;
}

.links,
.currPage {
  padding-left: 5%;
  position: relative;
}

.links a {
  color: ivory;
  position: relative;
  text-decoration: none;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  border-bottom: 3px solid transparent;
}

.links a:hover {
  text-decoration: none;
}

.links a:hover::after {
  bottom: -10px;
  border-color: currentColor;
}

.currPage a {
  color: ivory;
  position: relative;
  text-decoration: none;
}

.currPage a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  border-bottom: 3px solid transparent;
}

.currPage a {
  text-decoration: none;
}

.currPage a::after {
  bottom: -10px;
  border-color: currentColor;
}

#credBox {
  color: ivory;
  margin: 0 0 10% 0;
  padding: 5% 0 5% 5%;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  width: 150%;
  font-size: 20px;
}

#authenticate {
  background-color: ivory;
  color: #383838;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  width: 150%;
  transition: background-color 150ms;
  padding: 5%;
  font-size: 20px;
}

#authenticate:active {
  background-color: rgb(68, 111, 163);
  border-color: rgb(68, 111, 163);
  transition: background-color 250ms;
}

#login {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 10%;
  padding-right: 10%;
}

#otherAuthPage {
  color: ivory;
  margin: 5% 0 0 0;
  justify-content: right;
}

#table {
  margin-top: 150px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.pageActionContainer {
  text-align: end;
}

#pageAction {
  background-color: #698669;
  border-color: #698669;
  width: 100px;
  color: ivory;
  text-align: center;
  padding: 7px 18px;
  box-shadow: none;
}

#pageAction:hover {
  background-color: #5f795f;
  border-color: #5f795f;
  color: rgba(255, 255, 240, 0.89);
}

#pageActionRecipe {
  background-color: #698669;
  border-color: #698669;
  width: 175px;
  color: ivory;
  text-align: center;
  padding: 7px 18px;
  box-shadow: none;
}

#pageActionRecipe:hover {
  background-color: #5f795f;
  border-color: #5f795f;
  color: rgba(255, 255, 240, 0.89);
}

#modal {
  position: fixed;
  width: 100%;
}

#modal * {
  display: block;
  position: initial;
  justify-content: center;
  align-content: center;
  background-color: #d9d9d9;
  color: #383838;
  z-index: 9999;
}

#modal input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #383838 2px;
  width: 100%;
}

#modal-submit {
  float: right;
  background-color: #698669;
  color: #d9d9d9;
}

.modalClose {
  background-color: #d9d9d9;
  color: #383838;
  border: none;
  font-size: 2rem;
}

.foodModal span {
  padding: 10%;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #0a436b !important;
}

.amountTableRow {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.amountTag {
  color: #0a436b;
  background-color: #b5e0fd;
  border-radius: 2px;
  padding: 2px 10px;
  font-weight: 700;
}
