*{
    font-family: 'Montserrat', sans-serif;
    background-color: #383838;
    color: ivory;
}

.err{
    color: rgb(194, 47, 47);
}

#navBar{
    margin-top: 1.5%;
    letter-spacing: 5px;
    width:100%;
}

.links{
    padding-left: 5%;
    position: relative;
    left:50%;
}

.links a{
    color:ivory
}
#credBox{
    color: ivory;
    margin:0 0 10% 0;
    padding: 5% 0 5% 5%;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width:150%;
    font-size: 20px;
}

#authenticate{
    background-color: ivory;
    color:#383838;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width: 150%;
    transition: background-color 150ms;
    padding: 5%;
    font-size: 20px;
}

#authenticate:active{
    background-color: rgb(68, 111, 163);
    border-color: rgb(68, 111, 163);
    transition: background-color 250ms;
}

#login{
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 10%;
    padding-right: 10%;
}

#otherAuthPage{
    color: ivory;
    margin: 5% 0 0 0;
    justify-content: right;   
}

#table{
    display: grid;
    justify-content: center;
    align-content: center;
}

#pageAction{
    background-color: #698669;
    border-color: #698669;
    border-radius: 10px;
}

#modal {
    position: fixed;
    width:100%;
}

#modal *{
    display: block;
    position: initial;
    justify-content: center;
    align-content: center;
    background-color: #D9D9D9;
    color: #383838;
    z-index: 9999;
}

#modal input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #383838 2px;
    width:100%;
}

#modal-submit{
    float: right;
    background-color: #698669;
    color:#D9D9D9;
}

.modalClose{
    background-color: #D9D9D9;
    color: #383838;
    border: none;
    font-size: 2rem;
}

.foodModal span{
    padding: 10%;
}

